---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Header from '~/components/widgets/Header.astro';
import { SITE } from 'astrowind:config';

const metadata = {
  title: 'Psicopedagoga — Tamara Chinarelli',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Inicio', href: '#hero' },
        { text: 'Sobre', href: '#about' },
        { text: 'Serviços', href: '#services' },
        { text: 'Blog', href: '#blog' },
        { text: 'Contato', href: '#contact' },
      ]}
      actions={[
        {
          text: 'Tire suas dúvidas',
          href: 'https://wa.me/16997887592',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>
  <!-- Hero Widget ******************* -->

  <Hero
    id="hero"
    actions={[]}
    image={{ src: '~/assets/images/logo.webp', alt: 'Logo Psicopedagoga Tamara Chinarelli' }}
  >
    <Fragment slot="title">Tamara Chinarelli</Fragment>

    <Fragment slot="subtitle">PSICOPEDAGOGA</Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    isReversed
    tagline="Sobre mim"
    title="Experiência, dedicação e transformação na educação"
    hasIcon={false}
    items={[
      {
        title: 'Missão',
        description:
          'Ajudar crianças, adolescentes e suas famílias a enfrentarem dificuldades e transtornos de aprendizagem de forma leve e transformadora. Juntos, podemos transformar desafios em conquistas!',
      },
    ]}
    image={{
      src: '~/assets/images/tamara-on-desk.png',
      alt: 'Tamara on desk',
      decoding: 'async',
      loading: 'lazy',
    }}
  >
    <Fragment slot="content">
      <p class="text-justify mb-5">
        Com 14 anos de experiência na área educacional, sou <span class="font-bold">Pedagoga</span> e <span
          class="font-bold">Psicopedagoga</span
        >, especializada em <span class="font-bold">Neurociência Aplicada à Educação</span>, onde aprofundo meu
        conhecimento sobre como o cérebro de crianças e adolescentes aprende. Graduanda em <span class="font-bold"
          >Transtornos do Neurodesenvolvimento</span
        >, com foco em compreender e intervir em condições como TDAH, dislexia, discalculia, disortografia, entre
        outros.
      </p>

      <p class="text-justify">
        Além dos atendimentos psicopedagógicos, desenvolvo um trabalho específico voltado para adolescentes em
        preparação para o vestibular, focado na organização de uma rotina de estudos personalizada, no manejo da
        ansiedade e no enfrentamento dos desafios dessa fase, proporcionando a eles uma trajetória mais leve,
        estruturada e voltada para o sucesso acadêmico e emocional.
      </p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Features Widget *************** -->

  <Features
    id="services"
    tagline="Serviços"
    title="Como posso te ajudar?"
    subtitle="Com uma abordagem acolhedora e profissional, ofereço soluções personalizadas para apoiar o desenvolvimento educacional e emocional. Desde a estimulação precoce até a orientação parental, meu objetivo é transformar desafios de aprendizagem em oportunidades de crescimento, promovendo o sucesso escolar e o bem-estar familiar. Conheça os serviços que podem fazer a diferença na vida da sua família."
    items={[
      {
        title: 'Intervenção Psicopedagógica',
        description:
          'Estratégias personalizadas para superar desafios de aprendizagem e estimular o desenvolvimento integral.',
        icon: 'tabler:brain',
      },
      {
        title: 'Estimulação Precoce',
        description: 'Atividades voltadas para o desenvolvimento de habilidades essenciais na primeira infância.',
        icon: 'tabler:abacus',
      },
      {
        title: 'Atendimento para Adolescentes',
        description:
          'Apoio na organização de rotina e prioridades de estudo, especialmente para preparação para o vestibular.',
        icon: 'tabler:school',
      },
      {
        title: 'Palestras',
        description:
          'Apresentações educativas e interativas sobre dificuldades e transtornos de aprendizagem, promovendo a conscientização e o conhecimento para famílias e profissionais.',
        icon: 'tabler:microphone',
      },
      {
        title: 'Orientação Parental',
        description:
          'Suporte personalizado para ajudar pais a lidarem com os desafios de aprendizagem dos filhos, fortalecendo o vínculo familiar e otimizando o ambiente de desenvolvimento.',
        icon: 'tabler:users',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Whatsapp',
        href: 'https://wa.me/16997887592',
        target: '_blank',
        icon: 'tabler:brand-whatsapp',
      },
    ]}
  >
    <Fragment slot="title">Estou aqui para ajudar</Fragment>

    <Fragment slot="subtitle">
      Transforme as dificuldades de aprendizagem em conquistas! Entre em contato e descubra como a psicopedagogia pode
      contribuir para o sucesso escolar e emocional.
    </Fragment><Fragment slot="bg">
      <div class="absolute inset-0 dark:bg-transparent"></div>
    </Fragment>
  </CallToAction>

  <Content
    id="contact"
    isReversed
    tagline="Contato"
    isReversed={true}
    items={[
      {
        title: 'Fone/Whatsapp',
        description: SITE?.phone,
        icon: 'tabler:phone',
      },
      {
        title: 'Email',
        description: 'tamarachinarelli@gmail.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Instagram',
        description: '@psicotamarachinarelli',
        icon: 'tabler:brand-instagram',
      },
    ]}
    image={{
      src: '~/assets/images/maps.webp',
      alt: 'Maps point',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Endereço</h3>
      Rua Otto Benz, 1253. Sala 308 - Nova Ribeirânia - Ribeirão Preto/SP Edifício Unique
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    id="blog"
    title="Confira mais conteúdos no nosso Blog"
    information={`No blog, você encontrará artigos e dicas valiosas sobre aprendizagem, desenvolvimento infantil e estratégias para superar desafios educacionais.
                       Cada novo post é uma oportunidade para aprender mais sobre como apoiar o sucesso escolar e emocional das crianças e adolescentes.
                       Não perca as novidades e transforme conhecimento em ação para o futuro da sua família.
               `}
  />
  <Fragment slot="footer"> </Fragment>
</Layout>
