---
import { SITE } from 'astrowind:config';
---

<span
  id="phone"
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-sm md:text-sm font-bold text-gray-600 whitespace-nowrap dark:text-white transition-opacity ease-in-out"
>
  {SITE?.phone}
</span>
